/*
  .exhibitions-page {
      padding: 40px 0;
    }
*/
  
  .hero-section {
    background: #0A2463;
    /*
    background: linear-gradient(rgba(10, 36, 99, 0.8), rgba(10, 36, 99, 0.9)), 
                url('/assets/images/');
    */
    background-size: cover;
    background-position: center;
    color: white;
    padding: 80px 0;
    text-align: center;
  }
  
  .hero-section h1 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 15px;
  }
  
  .hero-section p {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .exhibitions-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 40px;
  }

 .register-btn {
     display: inline-block;
    background-color: #d19f4e; /* Cor de fundo vibrante */
    color: #fff; /* Cor do texto */
    text-decoration: none; /* Remove o sublinhado */
    border: none; /* Remove bordas padrão */
    border-radius: 25px; /* Bordas arredondadas */
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 1rem; /* Tamanho do texto */
    font-weight: bold; /* Texto em negrito */
    text-align: center; /* Centraliza o texto */
    cursor: pointer; /* Mostra o cursor de clique */
    transition: all 0.3s ease; /* Animação suave */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra para destacar*/
    margin: 10px;
  }

  .register-btn:hover {
    /*background-color: #E78B48; /* Cor de fundo mais escura no hover */
    background: linear-gradient(45deg, #ffda5f, #d19f4e); /* Inverte o gradiente no hover */
    transform: scale(1.05); /* Aumenta ligeiramente o botão */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); /* Aumenta a sombra no hover */
    color : #fff;
  }